<section class="py-36">
  <div class="contenedor flex flex-col items-center justify-center gap-12">
    <h2 class="text-2xl min-[450px]:text-3xl lg:text-4xl font-semibold">¿A quiénes acompaño?</h2>
    <div class="flex gap-6 w-full h-full">
      <div class="w-full h-80 flex flex-col items-center justify-center gap-4 border border-[#12121220] hover:border-[#12121260] transition-all duration-300 ease-in-out hover:shadow-lg">
        <svg
        class="w-20 h-auto fill-oscuro"
          viewBox="0 0 83 81"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_18_64)">
            <path
              d="M44.91 5.22004L52.89 3.23004L47.91 7.72004C58.69 11.76 67.89 16.91 72.62 27.99C73.88 30.95 74.81 38.44 75.36 39.25C76.01 40.23 79.2 40.42 80.92 42.69C85.33 48.49 81.88 56.66 76.17 59.99C67.85 64.84 71.65 62.71 65.87 69.69C54.25 83.73 32.61 84.85 19.41 72.2C16.42 69.34 14.55 64.2 12.35 62.26C10.51 60.63 8 60.81 5.97 59.64C0.869995 56.69 -2.16 47.55 1.86 42.68C3.69 40.46 7.50999 40.57 8.41 39.23C9.24 38.01 9.49 32.68 10.42 30.24C15.34 17.29 28.5 7.03004 42.89 8.22004C42.84 4.57004 38.91 3.66004 36.38 2.23004C37.62 -2.41996 44.62 0.990038 44.92 5.22004H44.91ZM71.89 40.22C71.16 10.18 30.28 -0.0299625 15.73 26.56C14.21 29.34 9.87 38.49 12.88 40.75C19.29 45.56 42.14 37.74 45.02 29.36L46.37 29.18C54.2 34.93 61.64 40.13 71.89 40.22ZM46.53 33.29C39.99 40.18 30.07 45.34 20.4 45.31C14.52 45.29 5.71 39.44 3.53 47.44C1.19 56.06 11.04 56.65 14.45 59.16C16.01 60.3 17.59 65 19.37 67.24C29.79 80.37 49.81 81.23 61.78 69.61C64.38 67.09 67.74 59.54 68.93 58.76C72.46 56.43 81.07 56.8 79.72 47.94C78.75 41.56 72.56 43.83 68.51 43.11C59.65 41.53 53.66 38.75 46.53 33.3V33.29Z"></path>
          </g>
          <defs>
            <clipPath id="clip0_18_64">
              <rect width="82.92" height="81.01" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <span class="text-medium text-2xl">Adolescentes</span>
      </div>
      <div class="w-full h-80 flex flex-col items-center justify-center gap-4 border border-[#12121220] hover:border-[#12121260] transition-all duration-300 ease-in-out hover:shadow-lg">
        <svg class="w-20 h-auto fill-oscuro" viewBox="0 0 83 77" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_18_58)">
<path d="M61.25 3.90006C61.54 4.09006 65.93 1.70006 67.47 5.25006C69.32 9.51006 66.8 12.6501 67.33 15.2901C67.62 16.7301 71.53 21.3501 72.63 24.0301C73.83 26.9701 74.52 33.3001 75.67 34.9901C77.56 37.7801 82.65 36.3901 82.63 44.5201C82.6 55.3401 75.25 54.0401 70.69 58.0701C68.64 59.8801 66.22 65.5001 63.63 68.0101C51.5 79.7801 31.88 79.3901 19.61 68.0501C16.82 65.4701 13.19 58.2701 12.1 57.5601C10.83 56.7301 8.50998 56.8801 6.75998 55.9001C0.629982 52.5001 -2.89002 42.4501 3.06998 37.4601C4.60998 36.1701 6.98998 36.0301 8.06998 34.4601C9.26998 32.7101 9.53998 27.8501 10.66 25.0501C14.71 14.8601 24.54 5.57006 35.73 4.11006C40.16 3.53006 46.61 4.93006 50.44 3.82006C52.36 3.26006 53.64 0.190061 56.73 0.0200608C60.84 -0.209939 60.52 3.44006 61.26 3.91006L61.25 3.90006ZM65.14 7.03006L59.67 9.03006L56.64 3.04006C51.81 9.51006 43.64 6.21006 36.72 7.10006C25.87 8.51006 14.9 19.2501 12.39 29.7701C11.75 32.4301 9.12998 45.6801 14.67 42.0501L15.26 36.1401C21 34.8301 24.51 34.9801 25.15 28.0101C46.32 38.1801 62.98 31.0001 65.13 7.01006L65.14 7.03006ZM72.14 43.0301C72.32 34.7601 71.86 24.8401 65.16 19.0301C63.27 27.1701 52.14 34.0201 67.2 35.4801L69.06 42.4401L72.15 43.0301H72.14ZM75.15 46.0301C65.3 48.6501 66.7 40.7201 64.15 38.5201C63.26 37.7501 61.04 37.7501 59.78 36.8901C58.39 35.9501 56.59 33.4301 55.51 33.2101C54.29 32.9701 45.96 36.0901 42.64 36.1001C39.32 36.1101 28.48 32.9501 27.74 33.1401C26.54 33.4501 25.95 36.0201 24.55 36.9301C22.87 38.0201 19.42 37.7501 18.59 38.9701C17.76 40.1901 18.48 42.5301 17.64 44.0201C16.59 45.9001 10.81 46.8001 9.06998 45.5801L8.12998 39.0201C1.59998 38.6801 2.29998 47.2901 5.68998 50.9601C8.30998 53.8001 12.78 53.3001 14.63 55.0201C15.66 55.9801 17.19 60.0901 18.72 61.9301C31.06 76.8201 52.51 77.7001 64.57 61.9601C66.03 60.0501 66.82 56.2501 68.57 54.9601C71.23 53.0101 74.87 54.2401 77.59 49.9801C79.83 46.4801 80.69 39.6401 75.14 39.0301V46.0301H75.15Z"/>
</g>
<defs>
<clipPath id="clip0_18_58">
<rect width="82.63" height="76.7" fill="white"/>
</clipPath>
</defs>
</svg>

        <span class="text-medium text-2xl">Adultos</span>
      </div>
      <div class="w-full h-80 flex flex-col items-center justify-center gap-4 border border-[#12121220] hover:border-[#12121260] transition-all duration-300 ease-in-out hover:shadow-lg">
        <svg class="w-20 h-auto fill-oscuro" viewBox="0 0 83 89" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_18_61)">
<path d="M75.37 47.65C76 48.38 80.87 48.94 81.94 52.57C83.74 58.7 80.98 64.76 75.71 67.92C67.98 72.54 70.58 72.2 65.13 78.34C51.25 93.95 30.22 91.52 16.65 76.88C14.81 74.9 13.44 71.22 11.69 69.84C9.38996 68.02 5.65997 68.05 3.13997 65.39C-0.740035 61.27 -1.54003 52.21 3.78997 48.98C5.04996 48.22 7.38997 48.19 7.93997 47.65C8.54996 47.05 10.91 35.59 13.35 31.56C15.68 27.69 23.11 22.13 23.66 20.87C24.6 18.75 23.94 16.13 24.61 13.82C29.88 -4.45996 53.35 -4.69996 58.74 13.82C59.41 16.12 58.72 18.93 59.66 20.9C60.16 21.94 67.46 27.33 69.97 31.59C72.48 35.85 74.83 47.03 75.39 47.67L75.37 47.65ZM56.14 18.86C55.09 -0.839954 30.26 -2.33995 27.15 17.35L29.22 18.47C38.25 14.35 47.18 15.39 56.15 18.87L56.14 18.86ZM72.15 47.86C67.85 10.05 16.14 9.48005 11.41 47.42C18.33 52.31 31.56 48.91 38.08 44.3C40.27 42.75 44.54 36.83 46.64 36.83C54.14 43.04 61.86 48.39 72.14 47.86H72.15ZM77.91 52.1C76.68 50.86 63.95 50.37 59.61 48.9C54.6 47.21 50.76 44.17 46.64 41.04L32.17 51.36C36.89 57.98 35.55 55.56 41.65 55.76C43.07 55.81 46.87 57.04 47.11 56.85C47.86 56.26 48.19 50.85 53.72 49.89C69.77 47.09 70.04 71.9901 53.15 68.87C52.71 69.1701 59.58 75.93 55.65 77.84C53.32 74.89 48.45 71.17 52.15 67.88C45.52 66.37 49.03 58.18 40.64 58.77C34.82 59.18 36.02 67.04 30.15 67.88C34.02 71.5 30.01 74.46 27.65 77.84C23.06 75.48 30.58 69.1701 30.15 68.87C19.97 70.5601 13.49 61.84 19.15 52.87C13.05 53.15 2.41997 46.57 3.08997 57.34C3.64997 66.43 12.64 64.71 14.9 67.13C15.64 67.92 17.68 73.11 19.33 75.19C31.21 90.17 52.31 88.6 64.13 74.34C65.77 72.36 67.61 67.83 68.66 66.87C70.31 65.34 73.47 65.88 76.2 63.41C78.93 60.94 80.68 54.88 77.92 52.1H77.91ZM20.16 58.87C19.47 67.49 32.32 68.42 33.14 60.27C33.89 52.75 25.04 50.05 21.15 56.37M62.14 57.86C61.61 51.83 51.9 51.48 50.35 56.55C47.23 66.69 61.2 70.08 62.15 59.86"/>
</g>
<defs>
<clipPath id="clip0_18_61">
<rect width="82.49" height="88.99" fill="white"/>
</clipPath>
</defs>
</svg>

        <span class="text-medium text-2xl">Adultos mayores</span>
      </div>
    </div>
  </div>
</section>
