<section id="patologias" class="py-24 md:py-36">
  <div
    class="contenedor flex flex-col items-center justify-center gap-12 text-claro bg-linear-to-r from-black to-blue-500"
  >
    <h2 class="text-2xl min-[450px]:text-3xl lg:text-4xl font-semibold [animation-iteration-count:infinite] delay-[250ms] duration-[500ms] taos:translate-y-[-100px] taos:opacity-0" data-taos-offset="0">
      ¿Qué problemáticas atiendo?
    </h2>
    <div class="flex max-w-[1200px] justify-center items-stretch flex-wrap gap-6 w-full h-full">
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Trastornos de estado de ánimo</p>
        <span class="text-xs lg:text-sm">Angustia, depresión, duelos, bipolaridad</span>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Ansiedad</p>
        <span class="text-xs lg:text-sm">Pánico, estrés, fobias</span>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Psicosis</p>
        <span class="text-xs lg:text-sm">Esquizofrenia, paranoia, trastorno esquizoafectivo</span>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Trastornos de personalidad</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Trastornos por maltrato emocional</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Déficit de atención e hiperactividad (TDAH)</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Adicciones</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Ludopatía</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Trastornos en el control de los impulsos</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class="lg:text-xl font-medium">Trastornos cognitivos</p>
        </div>
      </div>
      <div class="flex justify-center items-center gap-5 p-3 bg-[#428BA820] border-[#BFDAE640] hover:bg-[#428BA830] hover:border-[#BFDAE680] border transition-all duration-[500ms] ease-in-out hover:shadow-md [animation-iteration-count:infinite]  taos:translate-x-[-100%] taos:opacity-0" data-taos-offset="0">
        <svg
          class="w-8 lg:w-10 h-auto fill-claro"
          viewBox="0 0 40 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0417 30.5703L6.62601 21.1546L8.97993 18.8007L16.0417 25.8625L31.1976 10.7065L33.5515 13.0605L16.0417 30.5703Z"></path>
        </svg>
        <div class="flex flex-col pr-4">
        <p class=" lg:text-xl font-medium">Demencias</p>
        </div>
      </div>
    </div>
    <a
      href="#contacto"
      class="font-medium text-oscuro px-8 py-4 text-base sm:text-lg cursor-pointer z-10 bg-claro hover:bg-hoverClaro transition-all duration-300 ease-in-out dark:bg-botonDark dark:text-claro dark:hover:bg-[#2178a0] [animation-iteration-count:infinite] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="-100"
      >Contactar</a
    >
  </div>
</section>

<style>
  #patologias {
    background: linear-gradient(to right, #3a677c, #5495b1);
  }

  html.dark #patologias{
    background: linear-gradient(to right, #0A1D26, #0D2C3A);
  }
</style>
