<footer class="pt-24 pb-40 md:pb-44  overflow-hidden">
  <div
    class="contenedor flex items-start max-[640px]:justify-between justify-center max-[640px]:flex-wrap gap-y-20 max-[640px]:gap-x-6 gap-x-10 md:gap-x-20 lg:gap-x-40 text-claro relative"
  >
    <div
      class="flex flex-col gap-4 max-[640px]:items-center max-[640px]:text-center items-start justify-center w-72 max-[640px]:w-full"
    >
      <svg
        class="w-36 h-auto fill-claro dark:fill-claro transition-all duration-300 ease-in-out"
        viewBox="0 0 39 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.63519 10.912C6.27252 10.912 5.88852 10.8587 5.48319 10.752C5.07785 10.656 4.73119 10.48 4.44319 10.224C4.16585 9.97867 4.02719 9.632 4.02719 9.184C4.02719 8.81067 4.12852 8.47467 4.33119 8.176C4.53385 7.87733 4.76852 7.616 5.03519 7.392C5.41919 7.08267 5.88319 6.83733 6.42719 6.656C6.98185 6.47467 7.57385 6.34133 8.20319 6.256C8.84319 6.16 9.48852 6.096 10.1392 6.064C10.8005 6.032 11.4245 6.016 12.0112 6.016C12.2885 6.016 12.5552 6.02133 12.8112 6.032C13.0779 6.032 13.3232 6.032 13.5472 6.032C13.8459 5.75467 14.1925 5.40267 14.5872 4.976C14.9819 4.54933 15.3925 4.096 15.8192 3.616C16.2565 3.12533 16.6885 2.66667 17.1152 2.24C17.1899 2.16533 17.2752 2.128 17.3712 2.128C17.4245 2.128 17.4725 2.13333 17.5152 2.144C17.5685 2.15467 17.6165 2.176 17.6592 2.208C17.7552 2.016 17.8565 1.81867 17.9632 1.616C18.0805 1.41333 18.2032 1.22667 18.3312 1.056C18.3845 0.981333 18.4912 0.901333 18.6512 0.816C18.8219 0.72 18.9925 0.634666 19.1632 0.559999C19.3445 0.485333 19.4779 0.448 19.5632 0.448C19.7552 0.448 19.8512 0.528 19.8512 0.688C19.8512 0.730666 19.8352 0.773333 19.8032 0.816C19.7819 0.858666 19.7605 0.890666 19.7392 0.912C19.1419 1.75467 18.6139 2.63467 18.1552 3.552C17.7072 4.46933 17.3179 5.41867 16.9872 6.4C17.0619 6.41067 17.1685 6.432 17.3072 6.464C17.4565 6.496 17.5899 6.53867 17.7072 6.592C17.8352 6.63467 17.8992 6.69867 17.8992 6.784C17.8992 6.88 17.8725 6.928 17.8192 6.928C17.7659 6.928 17.6965 6.928 17.6112 6.928C17.5152 6.928 17.3979 6.90133 17.2592 6.848C17.1312 6.784 17.0085 6.74667 16.8912 6.736C16.7525 7.20533 16.6139 7.71733 16.4752 8.272C16.3365 8.82667 16.2672 9.35467 16.2672 9.856C16.2672 10.0693 16.2992 10.2133 16.3632 10.288C16.4272 10.3733 16.5605 10.4053 16.7632 10.384C16.8805 10.3627 17.0085 10.3093 17.1472 10.224C17.2859 10.1493 17.4085 10.0693 17.5152 9.984C17.5579 9.96267 17.5792 9.952 17.5792 9.952C17.6432 9.952 17.6752 10 17.6752 10.096C17.6752 10.1493 17.6592 10.192 17.6272 10.224C17.4459 10.4053 17.2219 10.5493 16.9552 10.656C16.6992 10.7627 16.5019 10.816 16.3632 10.816C16.0325 10.816 15.8032 10.704 15.6752 10.48C15.5579 10.256 15.4992 10 15.4992 9.712C15.4992 9.21067 15.5579 8.688 15.6752 8.144C15.8032 7.58933 15.9259 7.072 16.0432 6.592C15.9152 6.57067 15.7819 6.56 15.6432 6.56C15.5045 6.56 15.3605 6.56 15.2112 6.56C14.9445 6.56 14.6885 6.56533 14.4432 6.576C14.2085 6.58667 14.0219 6.59733 13.8832 6.608C13.4139 7.088 12.9019 7.57867 12.3472 8.08C11.8032 8.58133 11.2219 9.04533 10.6032 9.472C9.98452 9.89867 9.33919 10.2453 8.66719 10.512C8.00585 10.7787 7.32852 10.912 6.63519 10.912ZM16.1232 6.272C16.2725 5.73867 16.4379 5.2 16.6192 4.656C16.8005 4.10133 17.0085 3.568 17.2432 3.056C16.7845 3.54667 16.3099 4.05333 15.8192 4.576C15.3285 5.09867 14.8485 5.60533 14.3792 6.096C14.6565 6.10667 14.9499 6.128 15.2592 6.16C15.5685 6.18133 15.8565 6.21867 16.1232 6.272ZM5.93119 10.304C6.56052 10.304 7.18985 10.192 7.81919 9.968C8.45919 9.73333 9.08319 9.42933 9.69119 9.056C10.2992 8.68267 10.8805 8.28267 11.4352 7.856C11.9899 7.41867 12.5019 6.992 12.9712 6.576C12.6405 6.576 12.2085 6.592 11.6752 6.624C11.1419 6.64533 10.5605 6.688 9.93119 6.752C9.30185 6.80533 8.67252 6.896 8.04319 7.024C7.42452 7.14133 6.84852 7.30133 6.31519 7.504C5.79252 7.70667 5.36585 7.96267 5.03519 8.272C4.70452 8.58133 4.51785 8.95467 4.47519 9.392C4.45385 9.62667 4.52319 9.81333 4.68319 9.952C4.84319 10.08 5.04052 10.1707 5.27519 10.224C5.52052 10.2773 5.73919 10.304 5.93119 10.304ZM18.6337 10.192C18.5057 10.192 18.4417 10.1387 18.4417 10.032C18.4417 9.97867 18.5377 9.86133 18.7297 9.68C18.9324 9.488 19.167 9.27467 19.4337 9.04C19.711 8.80533 19.967 8.592 20.2017 8.4C20.4364 8.208 20.591 8.07467 20.6657 8C20.591 7.86133 20.511 7.69067 20.4257 7.488C20.3404 7.27467 20.255 7.104 20.1697 6.976C20.127 7.09333 20.0097 7.26933 19.8177 7.504C19.6257 7.728 19.423 7.952 19.2097 8.176C19.007 8.4 18.847 8.56533 18.7297 8.672C18.719 8.68267 18.703 8.688 18.6817 8.688C18.6497 8.688 18.6177 8.66667 18.5857 8.624C18.5644 8.58133 18.5644 8.53867 18.5857 8.496C18.6817 8.34667 18.8204 8.18133 19.0017 8C19.183 7.81867 19.3484 7.616 19.4977 7.392C19.647 7.15733 19.7217 6.896 19.7217 6.608C19.7217 6.45867 19.6844 6.33067 19.6097 6.224C19.5457 6.11733 19.5137 6.02133 19.5137 5.936C19.5137 5.808 19.567 5.73333 19.6737 5.712C19.7804 5.68 19.8817 5.664 19.9777 5.664C20.1164 5.664 20.2657 5.73867 20.4257 5.888C20.5857 6.03733 20.735 6.21867 20.8737 6.432C21.023 6.64533 21.1564 6.85333 21.2737 7.056C21.391 7.25867 21.4764 7.41867 21.5297 7.536C21.6364 7.472 21.8017 7.37067 22.0257 7.232C22.2604 7.09333 22.511 6.94933 22.7777 6.8C23.0444 6.64 23.2844 6.50667 23.4977 6.4C23.7217 6.28267 23.8764 6.224 23.9617 6.224C24.015 6.224 24.0737 6.24 24.1377 6.272C24.2017 6.304 24.207 6.336 24.1537 6.368C24.079 6.42133 23.9244 6.51733 23.6897 6.656C23.4657 6.79467 23.215 6.94933 22.9377 7.12C22.6604 7.29067 22.4044 7.45067 22.1697 7.6C21.9457 7.74933 21.7964 7.856 21.7217 7.92C21.8177 8.21867 21.9617 8.50133 22.1537 8.768C22.3457 9.024 22.5484 9.152 22.7617 9.152C23.039 9.152 23.279 9.09867 23.4817 8.992C23.695 8.87467 23.9084 8.71467 24.1217 8.512C24.3457 8.29867 24.6017 8.04267 24.8897 7.744C24.9004 7.73333 24.9217 7.728 24.9537 7.728C24.9857 7.728 25.0177 7.73867 25.0497 7.76C25.0924 7.77067 25.1137 7.79733 25.1137 7.84C25.1137 7.88267 25.0924 7.92533 25.0497 7.968C24.9217 8.11733 24.703 8.34133 24.3937 8.64C24.095 8.928 23.7857 9.184 23.4657 9.408C23.263 9.54667 23.055 9.66933 22.8417 9.776C22.639 9.872 22.447 9.92 22.2657 9.92C21.967 9.92 21.711 9.776 21.4977 9.488C21.3804 9.328 21.2524 9.13067 21.1137 8.896C20.9857 8.65067 20.9004 8.49067 20.8577 8.416C20.8044 8.45867 20.6977 8.54933 20.5377 8.688C20.3777 8.816 20.1964 8.96533 19.9937 9.136C19.791 9.30667 19.5884 9.472 19.3857 9.632C19.1937 9.792 19.023 9.92533 18.8737 10.032C18.735 10.1387 18.655 10.192 18.6337 10.192ZM26.0827 10.112C25.6134 10.112 25.2027 10 24.8507 9.776C24.4987 9.552 24.3227 9.17867 24.3227 8.656C24.3227 8.336 24.408 8.00533 24.5787 7.664C24.76 7.312 24.9947 6.98667 25.2827 6.688C25.5707 6.38933 25.88 6.14933 26.2107 5.968C26.552 5.776 26.888 5.68 27.2187 5.68C27.3894 5.68 27.5334 5.728 27.6507 5.824C27.768 5.90933 27.8267 6.04267 27.8267 6.224C27.8267 6.43733 27.7307 6.656 27.5387 6.88C27.3574 7.104 27.128 7.31733 26.8507 7.52C26.584 7.712 26.312 7.88267 26.0347 8.032C25.7574 8.17067 25.528 8.272 25.3467 8.336C25.3147 8.464 25.2987 8.59733 25.2987 8.736C25.2987 8.98133 25.3627 9.2 25.4907 9.392C25.6294 9.584 25.864 9.68 26.1947 9.68C26.5254 9.68 26.824 9.616 27.0907 9.488C27.368 9.34933 27.6187 9.184 27.8427 8.992C28.0667 8.78933 28.2694 8.59733 28.4507 8.416C28.6 8.26667 28.7227 8.144 28.8187 8.048C28.9147 7.94133 29 7.85067 29.0747 7.776C29.1067 7.744 29.1547 7.728 29.2187 7.728C29.272 7.728 29.3147 7.74933 29.3467 7.792C29.3787 7.824 29.368 7.86667 29.3147 7.92C29.272 7.97333 29.1974 8.05333 29.0907 8.16C28.9947 8.256 28.8987 8.35733 28.8027 8.464C28.7174 8.56 28.6534 8.62933 28.6107 8.672C28.1414 9.17333 27.6934 9.54133 27.2667 9.776C26.84 10 26.4454 10.112 26.0827 10.112ZM25.3947 8.016C25.5014 7.99467 25.6507 7.93067 25.8427 7.824C26.0454 7.70667 26.2427 7.57333 26.4347 7.424C26.52 7.34933 26.6374 7.23733 26.7867 7.088C26.936 6.93867 27.0374 6.81067 27.0907 6.704C27.1654 6.56533 27.2027 6.45333 27.2027 6.368C27.2027 6.24 27.1334 6.176 26.9947 6.176C26.92 6.176 26.84 6.192 26.7547 6.224C26.648 6.26667 26.52 6.37333 26.3707 6.544C26.2214 6.71467 26.104 6.848 26.0187 6.944C25.8907 7.104 25.768 7.28 25.6507 7.472C25.544 7.65333 25.4587 7.83467 25.3947 8.016ZM30.0454 10.224C29.5334 10.224 29.1601 10.0587 28.9254 9.728C28.6908 9.38667 28.5734 8.98133 28.5734 8.512C28.5734 8.14933 28.6801 7.70133 28.8934 7.168C29.1068 6.63467 29.3894 6.064 29.7414 5.456C30.1041 4.83733 30.5094 4.23467 30.9574 3.648C31.4161 3.05067 31.8854 2.50667 32.3654 2.016C32.8561 1.52533 33.3308 1.136 33.7894 0.848C34.2588 0.549333 34.6801 0.4 35.0534 0.4C35.2348 0.4 35.4108 0.474666 35.5814 0.624C35.7521 0.773333 35.8374 0.944 35.8374 1.136C35.8374 1.43467 35.7201 1.78667 35.4854 2.192C35.2508 2.59733 34.9414 3.02933 34.5574 3.488C34.1734 3.94667 33.7468 4.41067 33.2774 4.88C32.8188 5.34933 32.3494 5.79733 31.8694 6.224C31.4001 6.65067 30.9574 7.04 30.5414 7.392C30.1361 7.73333 29.8001 8.00533 29.5334 8.208C29.5228 8.29333 29.5121 8.37867 29.5014 8.464C29.5014 8.53867 29.5014 8.61867 29.5014 8.704C29.5014 9.00267 29.5601 9.24267 29.6774 9.424C29.7948 9.60533 30.0134 9.696 30.3334 9.696C30.6748 9.696 31.0054 9.616 31.3254 9.456C31.6561 9.296 31.9654 9.09867 32.2534 8.864C32.5414 8.62933 32.7921 8.40533 33.0054 8.192C33.2294 7.968 33.4054 7.792 33.5334 7.664C33.5441 7.65333 33.5601 7.648 33.5814 7.648C33.6241 7.648 33.6561 7.68 33.6774 7.744C33.7094 7.79733 33.7148 7.84 33.6934 7.872C33.5761 8.02133 33.4321 8.18133 33.2614 8.352C33.1014 8.52267 32.9734 8.66133 32.8774 8.768C32.5148 9.13067 32.0881 9.46667 31.5974 9.776C31.1068 10.0747 30.5894 10.224 30.0454 10.224ZM29.5654 7.76C29.9174 7.52533 30.3228 7.19467 30.7814 6.768C31.2508 6.33067 31.7254 5.85067 32.2054 5.328C32.6961 4.79467 33.1441 4.26133 33.5494 3.728C33.9654 3.184 34.3014 2.67733 34.5574 2.208C34.8134 1.728 34.9414 1.33867 34.9414 1.04C34.9414 0.986667 34.9308 0.938667 34.9094 0.896C34.8988 0.842667 34.8561 0.816 34.7814 0.816C34.5681 0.816 34.3174 0.928 34.0294 1.152C33.7414 1.36533 33.4428 1.648 33.1334 2C32.8241 2.34133 32.5201 2.704 32.2214 3.088C31.9334 3.472 31.6774 3.82933 31.4534 4.16C31.2294 4.49067 31.0588 4.74667 30.9414 4.928C30.6641 5.376 30.4028 5.84 30.1574 6.32C29.9121 6.8 29.7148 7.28 29.5654 7.76ZM8.12687 20.784C7.77488 20.784 7.51354 20.688 7.34288 20.496C7.18288 20.304 7.10288 20.0427 7.10288 19.712C7.10288 19.392 7.15621 19.0453 7.26288 18.672C7.38021 18.2987 7.51888 17.9307 7.67888 17.568C7.83888 17.2053 7.98821 16.8853 8.12687 16.608H7.15088C6.62821 16.608 6.06821 16.592 5.47088 16.56C4.88421 16.528 4.29221 16.464 3.69488 16.368C3.10821 16.272 2.54821 16.1387 2.01488 15.968C1.49221 15.7867 1.02821 15.552 0.622875 15.264C0.494875 15.168 0.372208 15.056 0.254875 14.928C0.148208 14.7893 0.094875 14.6347 0.094875 14.464C0.094875 13.952 0.286875 13.5307 0.670875 13.2C1.06554 12.8693 1.59354 12.6133 2.25488 12.432C2.91621 12.2507 3.66288 12.1227 4.49488 12.048C5.32688 11.9733 6.19088 11.936 7.08688 11.936C7.71621 11.936 8.34554 11.9573 8.97488 12C9.61488 12.0427 10.2495 12.0907 10.8789 12.144C11.0709 11.9093 11.2415 11.728 11.3909 11.6C11.5402 11.4613 11.7109 11.3653 11.9029 11.312C12.1055 11.248 12.3615 11.216 12.6709 11.216C12.7562 11.216 12.8362 11.2267 12.9109 11.248C12.9962 11.2693 13.0442 11.328 13.0549 11.424C12.9162 11.5627 12.7882 11.7067 12.6709 11.856C12.5535 11.9947 12.4309 12.1387 12.3029 12.288C12.7829 12.32 13.2309 12.3467 13.6469 12.368C14.0735 12.3787 14.5269 12.384 15.0069 12.384C15.2415 12.384 15.5189 12.3787 15.8389 12.368C16.1695 12.3467 16.4522 12.2933 16.6869 12.208C16.7935 12.1653 16.8895 12.144 16.9749 12.144C17.0389 12.144 17.0975 12.1653 17.1509 12.208C17.2042 12.24 17.2362 12.304 17.2469 12.4C17.2575 12.496 17.1615 12.576 16.9589 12.64C16.7669 12.6933 16.5269 12.7307 16.2389 12.752C15.9509 12.7733 15.6735 12.7893 15.4069 12.8C15.1509 12.8 14.9642 12.8 14.8469 12.8C14.3455 12.8 13.8655 12.7947 13.4069 12.784C12.9589 12.7733 12.4789 12.7467 11.9669 12.704C11.8389 12.8107 11.6522 12.9973 11.4069 13.264C11.1722 13.5307 10.9162 13.8347 10.6389 14.176C10.3722 14.5173 10.1162 14.864 9.87088 15.216C9.62554 15.5573 9.42288 15.8613 9.26288 16.128C9.95621 16.0853 10.6495 16.032 11.3429 15.968C12.0362 15.904 12.7349 15.8293 13.4389 15.744H13.4549C13.5189 15.744 13.5935 15.7653 13.6789 15.808C13.7749 15.8507 13.7909 15.8933 13.7269 15.936C13.6202 16 13.4655 16.0587 13.2629 16.112C13.0602 16.1547 12.8575 16.192 12.6549 16.224C12.4522 16.2453 12.2975 16.2667 12.1909 16.288C11.7322 16.352 11.2309 16.4107 10.6869 16.464C10.1429 16.5173 9.59354 16.5547 9.03888 16.576C8.88954 16.8533 8.71888 17.184 8.52688 17.568C8.34554 17.952 8.18554 18.3413 8.04688 18.736C7.90821 19.12 7.83888 19.472 7.83888 19.792C7.83888 19.9947 7.88154 20.1387 7.96688 20.224C8.05221 20.32 8.15888 20.368 8.28688 20.368C8.42554 20.368 8.56954 20.3307 8.71888 20.256C8.87888 20.1813 9.01754 20.096 9.13488 20C9.15621 19.9787 9.18821 19.968 9.23088 19.968C9.26288 19.968 9.28421 19.984 9.29488 20.016C9.31621 20.048 9.31088 20.0907 9.27888 20.144C9.21488 20.2613 9.10821 20.368 8.95888 20.464C8.80954 20.56 8.65488 20.6347 8.49487 20.688C8.33488 20.752 8.21221 20.784 8.12687 20.784ZM7.99888 16.176L8.31888 16.16C8.51088 15.7973 8.74021 15.4027 9.00688 14.976C9.28421 14.5387 9.56688 14.112 9.85488 13.696C10.1429 13.2693 10.4042 12.8907 10.6389 12.56C9.64688 12.496 8.64954 12.464 7.64688 12.464C7.43354 12.464 7.12954 12.4747 6.73488 12.496C6.34021 12.5067 5.89754 12.5387 5.40688 12.592C4.92688 12.6453 4.43621 12.72 3.93488 12.816C3.44421 12.9013 2.99088 13.024 2.57488 13.184C2.16954 13.3333 1.83888 13.52 1.58288 13.744C1.32688 13.968 1.19888 14.2347 1.19888 14.544C1.19888 14.7893 1.33754 15.0027 1.61488 15.184C1.89221 15.3547 2.26021 15.504 2.71888 15.632C3.17754 15.7493 3.66821 15.8453 4.19088 15.92C4.72421 15.9947 5.24688 16.0533 5.75888 16.096C6.27088 16.128 6.72421 16.1493 7.11888 16.16C7.52421 16.1707 7.81754 16.176 7.99888 16.176ZM17.9064 20.048C17.565 20.048 17.309 19.968 17.1384 19.808C16.9677 19.6373 16.8557 19.424 16.8024 19.168C16.7597 18.912 16.7437 18.656 16.7544 18.4C16.5944 18.6133 16.397 18.848 16.1624 19.104C15.9277 19.3493 15.6717 19.5627 15.3944 19.744C15.117 19.9253 14.8344 20.016 14.5464 20.016C14.333 20.016 14.157 19.968 14.0184 19.872C13.8797 19.7653 13.8104 19.6 13.8104 19.376C13.8104 19.0027 13.9277 18.608 14.1624 18.192C14.4077 17.776 14.717 17.3813 15.0904 17.008C15.4637 16.624 15.8637 16.3147 16.2904 16.08C16.717 15.8453 17.117 15.728 17.4904 15.728C17.597 15.728 17.7464 15.7493 17.9384 15.792C18.1304 15.8347 18.301 15.8987 18.4504 15.984C18.6104 16.0693 18.6904 16.1867 18.6904 16.336C18.6904 16.4107 18.6424 16.4533 18.5464 16.464C18.4504 16.4747 18.381 16.5067 18.3384 16.56C18.029 16.9333 17.8744 17.536 17.8744 18.368C17.8744 18.4747 17.8797 18.6187 17.8904 18.8C17.901 18.9813 17.9384 19.1413 18.0024 19.28C18.077 19.4187 18.189 19.488 18.3384 19.488C18.5624 19.488 18.8024 19.392 19.0584 19.2C19.3144 19.008 19.5704 18.7787 19.8264 18.512C20.0824 18.2347 20.317 17.984 20.5304 17.76C20.5517 17.728 20.573 17.712 20.5944 17.712C20.6477 17.712 20.6904 17.744 20.7224 17.808C20.765 17.8613 20.765 17.9093 20.7224 17.952C20.4664 18.2507 20.2157 18.5173 19.9704 18.752C19.7357 18.9867 19.4904 19.2107 19.2344 19.424C18.7437 19.84 18.301 20.048 17.9064 20.048ZM15.4104 19.28C15.6557 19.1413 15.901 18.9227 16.1464 18.624C16.4024 18.3253 16.6424 17.984 16.8664 17.6C17.101 17.216 17.2984 16.832 17.4584 16.448C17.2024 16.448 16.9144 16.544 16.5944 16.736C16.2744 16.9173 15.9704 17.152 15.6824 17.44C15.3944 17.7173 15.1544 18.0107 14.9624 18.32C14.781 18.6187 14.6904 18.8907 14.6904 19.136C14.6904 19.3387 14.7704 19.44 14.9304 19.44C15.0477 19.44 15.2077 19.3867 15.4104 19.28ZM23.6504 20.24C23.3197 20.24 23.0637 20.1333 22.8824 19.92C22.701 19.7067 22.6104 19.4347 22.6104 19.104C22.6104 18.9547 22.6317 18.7947 22.6744 18.624C22.717 18.4427 22.7864 18.2613 22.8824 18.08C22.7757 18.1973 22.6424 18.352 22.4824 18.544C22.3224 18.736 22.1464 18.928 21.9544 19.12C21.773 19.312 21.581 19.472 21.3784 19.6C21.1864 19.728 21.005 19.792 20.8344 19.792C20.5357 19.792 20.333 19.6907 20.2264 19.488C20.1304 19.2853 20.0824 19.056 20.0824 18.8C20.0824 18.6293 20.1197 18.4213 20.1944 18.176C20.2797 17.9307 20.3917 17.6907 20.5304 17.456C20.669 17.2213 20.829 17.0293 21.0104 16.88C21.1917 16.72 21.3837 16.64 21.5864 16.64C21.661 16.64 21.7464 16.656 21.8424 16.688C21.949 16.72 22.0024 16.7787 22.0024 16.864C22.0024 16.9067 21.949 17.0027 21.8424 17.152C21.7464 17.2907 21.629 17.4507 21.4904 17.632C21.3624 17.8133 21.245 18 21.1384 18.192C21.0424 18.3733 20.9944 18.5387 20.9944 18.688C20.9944 18.784 21.005 18.88 21.0264 18.976C21.0584 19.0613 21.133 19.104 21.2504 19.104C21.4637 19.104 21.677 19.0027 21.8904 18.8C22.1144 18.5867 22.3384 18.3253 22.5624 18.016C22.7864 17.7067 22.9997 17.4027 23.2024 17.104C23.4157 16.7947 23.6077 16.5387 23.7784 16.336C23.9597 16.1227 24.1144 16.016 24.2424 16.016C24.3917 16.016 24.525 16.0693 24.6424 16.176C24.7704 16.272 24.8344 16.3947 24.8344 16.544C24.6957 16.7573 24.5144 17.0347 24.2904 17.376C24.0664 17.7067 23.8637 18.0427 23.6824 18.384C23.5117 18.7253 23.4264 19.0187 23.4264 19.264C23.4264 19.488 23.4744 19.6427 23.5704 19.728C23.677 19.8133 23.7997 19.856 23.9384 19.856C24.077 19.856 24.237 19.8187 24.4184 19.744C24.5997 19.6693 24.7597 19.5947 24.8984 19.52C25.293 19.2853 25.661 18.992 26.0024 18.64C26.3437 18.288 26.637 17.9893 26.8824 17.744C26.9144 17.712 26.9464 17.696 26.9784 17.696C27.0317 17.696 27.0584 17.7387 27.0584 17.824C27.0584 17.8987 27.0264 17.9787 26.9624 18.064C26.749 18.3093 26.461 18.5973 26.0984 18.928C25.7464 19.248 25.3837 19.5307 25.0104 19.776C24.8077 19.904 24.589 20.0107 24.3544 20.096C24.1197 20.192 23.885 20.24 23.6504 20.24ZM27.7221 20.096C27.2955 20.096 26.9808 19.984 26.7781 19.76C26.5755 19.536 26.4741 19.2213 26.4741 18.816C26.4741 18.4427 26.5595 18.032 26.7301 17.584C26.9008 17.1253 27.0875 16.7467 27.2901 16.448C27.1941 16.4587 27.0928 16.4747 26.9861 16.496C26.8901 16.5067 26.7888 16.512 26.6821 16.512C26.5115 16.512 26.3568 16.4853 26.2181 16.432C26.0901 16.368 26.0261 16.2507 26.0261 16.08C26.0261 15.9947 26.0635 15.936 26.1381 15.904C26.2128 15.872 26.2875 15.8613 26.3621 15.872L27.5621 15.936C27.6901 15.712 27.8448 15.4507 28.0261 15.152C28.2181 14.8427 28.4261 14.544 28.6501 14.256C28.8848 13.968 29.1355 13.7333 29.4021 13.552C29.6688 13.36 29.9461 13.264 30.2341 13.264C30.2981 13.264 30.3835 13.2747 30.4901 13.296C30.6075 13.3067 30.6821 13.36 30.7141 13.456C30.7248 13.4773 30.7301 13.504 30.7301 13.536C30.7301 13.6 30.7035 13.6587 30.6501 13.712C30.5968 13.7547 30.5435 13.8027 30.4901 13.856C30.1381 14.1973 29.8075 14.5333 29.4981 14.864C29.1995 15.1947 28.9061 15.5627 28.6181 15.968C28.8315 15.9787 29.0395 15.984 29.2421 15.984C29.4555 15.9733 29.6635 15.968 29.8661 15.968C29.9728 15.968 30.0741 15.9787 30.1701 16C30.2768 16.0213 30.3355 16.0747 30.3461 16.16C30.3461 16.224 30.2608 16.272 30.0901 16.304C29.9195 16.336 29.7168 16.3627 29.4821 16.384C29.2475 16.3947 29.0235 16.4053 28.8101 16.416C28.5968 16.416 28.4528 16.416 28.3781 16.416C28.2501 16.608 28.1061 16.8533 27.9461 17.152C27.7968 17.4507 27.6635 17.7547 27.5461 18.064C27.4395 18.3733 27.3861 18.6453 27.3861 18.88C27.3861 19.4027 27.6101 19.664 28.0581 19.664C28.3675 19.664 28.6715 19.5947 28.9701 19.456C29.2688 19.3173 29.5515 19.1467 29.8181 18.944C30.0955 18.7413 30.3355 18.544 30.5381 18.352C30.7408 18.16 30.8901 18.016 30.9861 17.92C31.0288 17.8773 31.0661 17.856 31.0981 17.856C31.1408 17.856 31.1621 17.888 31.1621 17.952C31.1621 18.0587 31.1301 18.144 31.0661 18.208C30.7568 18.5173 30.4208 18.8213 30.0581 19.12C29.6955 19.408 29.3168 19.6427 28.9221 19.824C28.5381 20.0053 28.1381 20.096 27.7221 20.096ZM34.3249 20.112C33.9622 20.112 33.6742 20.016 33.4609 19.824C33.2582 19.632 33.1569 19.3493 33.1569 18.976C33.1569 18.7413 33.2102 18.4587 33.3169 18.128C33.4235 17.7973 33.5302 17.5307 33.6369 17.328C33.0502 17.7333 32.5809 18.16 32.2289 18.608C31.8875 19.056 31.5782 19.4667 31.3009 19.84C31.2369 19.9253 31.1355 19.984 30.9969 20.016C30.8689 20.048 30.7515 20.064 30.6449 20.064C30.5595 20.064 30.4315 20.0427 30.2609 20C30.0902 19.968 30.0049 19.888 30.0049 19.76C30.0049 19.632 30.0635 19.44 30.1809 19.184C30.2982 18.9173 30.4262 18.656 30.5649 18.4C30.7035 18.144 30.8049 17.9467 30.8689 17.808C31.0502 17.4773 31.2849 17.072 31.5729 16.592C31.8715 16.1013 32.2075 15.5787 32.5809 15.024C32.9649 14.4587 33.3702 13.904 33.7969 13.36C34.2235 12.8053 34.6609 12.304 35.1089 11.856C35.5675 11.3973 36.0209 11.0347 36.4689 10.768C36.9169 10.4907 37.3382 10.352 37.7329 10.352C38.0315 10.352 38.2662 10.4213 38.4369 10.56C38.6075 10.6987 38.6929 10.9227 38.6929 11.232C38.6929 11.552 38.5702 11.8987 38.3249 12.272C38.0795 12.6453 37.7595 13.0293 37.3649 13.424C36.9702 13.808 36.5489 14.1813 36.1009 14.544C35.6529 14.896 35.2209 15.2213 34.8049 15.52C34.3995 15.8187 34.0635 16.064 33.7969 16.256C33.5089 16.4587 33.2102 16.6613 32.9009 16.864C32.6022 17.056 32.3302 17.2747 32.0849 17.52C32.0529 17.552 31.9942 17.6373 31.9089 17.776C31.8235 17.9147 31.7329 18.0693 31.6369 18.24C31.5515 18.4107 31.4715 18.5707 31.3969 18.72C31.3222 18.8587 31.2742 18.9547 31.2529 19.008C31.3489 18.912 31.5035 18.768 31.7169 18.576C31.9302 18.3733 32.1702 18.1547 32.4369 17.92C32.7035 17.6853 32.9702 17.4613 33.2369 17.248C33.5142 17.024 33.7595 16.8427 33.9729 16.704C34.1969 16.5653 34.3622 16.496 34.4689 16.496C34.6182 16.496 34.7409 16.5333 34.8369 16.608C34.9329 16.6827 34.9809 16.7947 34.9809 16.944C34.8742 17.136 34.7462 17.3547 34.5969 17.6C34.4475 17.8453 34.3142 18.096 34.1969 18.352C34.0795 18.608 34.0209 18.848 34.0209 19.072C34.0209 19.2427 34.0689 19.376 34.1649 19.472C34.2715 19.568 34.3995 19.616 34.5489 19.616C34.8262 19.616 35.1089 19.536 35.3969 19.376C35.6849 19.216 35.9515 19.0293 36.1969 18.816C36.4529 18.592 36.6715 18.3787 36.8529 18.176C37.0449 17.9733 37.1835 17.8293 37.2689 17.744C37.2902 17.7227 37.3169 17.712 37.3489 17.712C37.4342 17.712 37.4769 17.7653 37.4769 17.872C37.4769 17.9147 37.4289 17.9893 37.3329 18.096C37.2369 18.2027 37.1675 18.2773 37.1249 18.32C36.8582 18.608 36.5809 18.8907 36.2929 19.168C36.0155 19.4453 35.7169 19.6747 35.3969 19.856C35.0769 20.0267 34.7195 20.112 34.3249 20.112ZM32.2929 16.912C32.5489 16.7413 32.9009 16.5013 33.3489 16.192C33.7969 15.872 34.2769 15.5093 34.7889 15.104C35.3115 14.6987 35.8022 14.272 36.2609 13.824C36.7302 13.376 37.1142 12.9387 37.4129 12.512C37.7115 12.0747 37.8609 11.6747 37.8609 11.312C37.8609 11.0987 37.8182 10.9547 37.7329 10.88C37.6475 10.8053 37.5622 10.768 37.4769 10.768C37.2315 10.768 36.9489 10.8853 36.6289 11.12C36.3195 11.3547 35.9889 11.6693 35.6369 12.064C35.2849 12.448 34.9382 12.8747 34.5969 13.344C34.2555 13.8027 33.9302 14.2667 33.6209 14.736C33.3115 15.1947 33.0395 15.616 32.8049 16C32.5809 16.384 32.4102 16.688 32.2929 16.912Z"
        ></path>
      </svg>
      <p>Consultas psiquiátricas y tratamiento integral de la salud mental.</p>
    </div>
    <div
      class="flex flex-col gap-4 items-start justify-center w-72 max-[640px]:w-max"
    >
      <h3 class="text-lg font-medium">Navegación</h3>
      <ul class="flex flex-col gap-2 items-start justify-center">
        <li>
          <a
            href="/#"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Inicio</a>
        </li>
        <li>
          <a
            href="/#sobremi"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Sobre mi</a>
        </li>
        <li>
          <a
            href="/#servicios"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Servicios</a>
        </li>
        <li>
          <a
            href="/#patologias"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Patologías a tratar</a>
        </li>
        <li>
          <a
            href="/#comotrabajo"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Sistema de trabajo</a>
        </li>
        <li>
          <a
            href="/#contacto"
            class="hover:text-hoverClaro transition-all duration-300 ease-in-out"
            >Contacto</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-8 max-[640px]:gap-12">
      <div class="flex flex-col gap-4">
        <h3 class="text-lg font-medium">Contacto</h3>
        <a
          href="https://wa.me/5491166613741"
          target="_blank"
          class="flex items-center gap-2 font-medium px-3 transition-all duration-300 ease-in-out sm:w-auto group hover:text-hoverClaro"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-auto h-6 fill-claro group-hover:fill-hoverClaro transition-all duration-300 ease-in-out"
            viewBox="0 0 24 24"
          >
            <path
              d="M 12.011719 2 C 6.5057187 2 2.0234844 6.478375 2.0214844 11.984375 C 2.0204844 13.744375 2.4814687 15.462563 3.3554688 16.976562 L 2 22 L 7.2324219 20.763672 C 8.6914219 21.559672 10.333859 21.977516 12.005859 21.978516 L 12.009766 21.978516 C 17.514766 21.978516 21.995047 17.499141 21.998047 11.994141 C 22.000047 9.3251406 20.962172 6.8157344 19.076172 4.9277344 C 17.190172 3.0407344 14.683719 2.001 12.011719 2 z M 12.009766 4 C 14.145766 4.001 16.153109 4.8337969 17.662109 6.3417969 C 19.171109 7.8517969 20.000047 9.8581875 19.998047 11.992188 C 19.996047 16.396187 16.413812 19.978516 12.007812 19.978516 C 10.674812 19.977516 9.3544062 19.642812 8.1914062 19.007812 L 7.5175781 18.640625 L 6.7734375 18.816406 L 4.8046875 19.28125 L 5.2851562 17.496094 L 5.5019531 16.695312 L 5.0878906 15.976562 C 4.3898906 14.768562 4.0204844 13.387375 4.0214844 11.984375 C 4.0234844 7.582375 7.6067656 4 12.009766 4 z M 8.4765625 7.375 C 8.3095625 7.375 8.0395469 7.4375 7.8105469 7.6875 C 7.5815469 7.9365 6.9355469 8.5395781 6.9355469 9.7675781 C 6.9355469 10.995578 7.8300781 12.182609 7.9550781 12.349609 C 8.0790781 12.515609 9.68175 15.115234 12.21875 16.115234 C 14.32675 16.946234 14.754891 16.782234 15.212891 16.740234 C 15.670891 16.699234 16.690438 16.137687 16.898438 15.554688 C 17.106437 14.971687 17.106922 14.470187 17.044922 14.367188 C 16.982922 14.263188 16.816406 14.201172 16.566406 14.076172 C 16.317406 13.951172 15.090328 13.348625 14.861328 13.265625 C 14.632328 13.182625 14.464828 13.140625 14.298828 13.390625 C 14.132828 13.640625 13.655766 14.201187 13.509766 14.367188 C 13.363766 14.534188 13.21875 14.556641 12.96875 14.431641 C 12.71875 14.305641 11.914938 14.041406 10.960938 13.191406 C 10.218937 12.530406 9.7182656 11.714844 9.5722656 11.464844 C 9.4272656 11.215844 9.5585938 11.079078 9.6835938 10.955078 C 9.7955938 10.843078 9.9316406 10.663578 10.056641 10.517578 C 10.180641 10.371578 10.223641 10.267562 10.306641 10.101562 C 10.389641 9.9355625 10.347156 9.7890625 10.285156 9.6640625 C 10.223156 9.5390625 9.737625 8.3065 9.515625 7.8125 C 9.328625 7.3975 9.131125 7.3878594 8.953125 7.3808594 C 8.808125 7.3748594 8.6425625 7.375 8.4765625 7.375 z"
            ></path>
          </svg>
          +54 9 11 6661-3741
        </a>
        <a
          href="mailto:axelfaut29@gmail.com"
          target="_blank"
          class="flex items-center gap-3 font-medium px-3 transition-all duration-300 ease-in-out sm:w-auto group hover:text-hoverClaro"
        >
          <svg
            class="w-5 h-auto shrink-0 fill-claro group-hover:fill-hoverClaro transition-all duration-300 ease-in-out"
            viewBox="0 0 20 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 16V0H20V16H0ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z"
            ></path>
          </svg>
          axelfaut29@gmail.com
        </a>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-lg font-medium">Redes sociales</h3>
        <div class="flex gap-4">
          <a
            href="https://www.facebook.com/axel.fauth.5/"
            target="_blank"
            class="flex items-center gap-2 font-medium p-3 sm:hover:bg-[#15668c50] transition-all duration-300 justify-center ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-auto h-6 fill-claro"
              viewBox="0 0 50 50"
            >
              <path
                d="M32,11h5c0.552,0,1-0.448,1-1V3.263c0-0.524-0.403-0.96-0.925-0.997C35.484,2.153,32.376,2,30.141,2C24,2,20,5.68,20,12.368 V19h-7c-0.552,0-1,0.448-1,1v7c0,0.552,0.448,1,1,1h7v19c0,0.552,0.448,1,1,1h7c0.552,0,1-0.448,1-1V28h7.222 c0.51,0,0.938-0.383,0.994-0.89l0.778-7C38.06,19.518,37.596,19,37,19h-8v-5C29,12.343,30.343,11,32,11z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/axel-faut-5a6b9a97/"
            target="_blank"
            class="flex items-center gap-2 font-medium p-3 sm:hover:bg-[#15668c50] transition-all duration-300 ease-in-out justify-center"
          >
            <svg
              class="w-auto h-6 fill-claro"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M4.19534 2.65865C4.19506 3.21499 3.97379 3.74843 3.5802 4.14162C3.18662 4.53482 2.65296 4.75555 2.09662 4.75528C1.54028 4.755 1.00684 4.53373 0.613652 4.14014C0.220459 3.74655 -0.000277906 3.21289 2.62588e-07 2.65656C0.000278431 2.10022 0.221549 1.56678 0.615135 1.17359C1.00872 0.780395 1.54238 0.559659 2.09872 0.559937C2.65505 0.560215 3.18849 0.781485 3.58169 1.17507C3.97488 1.56866 4.19562 2.10232 4.19534 2.65865ZM4.25827 6.3086H0.0629303V19.44H4.25827V6.3086ZM10.8869 6.3086H6.71254V19.44H10.8449V12.5492C10.8449 8.71043 15.8479 8.35383 15.8479 12.5492V19.44H19.9908V11.1228C19.9908 4.65144 12.586 4.89267 10.8449 8.07064L10.8869 6.3086Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-end justify-center text-claro sm:text-[14px] absolute  -bottom-24 sm:-bottom-16 right-5 text-right"
    >
      <span>Copyright 2025 © Axel Fauth</span>
      <span>Desarrollado y diseñado por <a href="https://nexiumsolutions.online/" target="_blank" class="text-bold text-[#b7f7e6] hover:text-[#97fce1] dark:text-[#43f8c8] dark:hover:text-[#41e6ba] transition-all duration-300 ease-in-out">Nexium Solutions y DiTiero</a></span>
    </div>
  </div>
</footer>

<style>
  footer {
    background: linear-gradient(to right, #3a677c, #5495b1);
  }

  html.dark footer {
    background: linear-gradient(to right, #010d13, #0d2c3a);
  }
</style>
