<button
  id="toggle-dark"
  class="p-2 transition-all duration-300 ease-in-out group max-[1024px]:absolute max-[1024px]:left-5"
  aria-label="Cambiar tema"
>
  <span id="icon-sun" class="block dark:hidden transition-all duration-300 ease-in-out">
    <svg class="w-6 h-6 text-oscuro dark:text-claro group-hover:hover:fill-oscuro dark:group-hover:hover:fill-claro transition-all duration-300 ease-in-out" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/>
</svg>

  </span>
  <span id="icon-moon" class="hidden dark:block transition-all duration-300 ease-in-out">
    <svg class="w-6 h-6 text-oscuro dark:text-claro transition-all duration-300 ease-in-out dark:group-hover:hover:fill-claro group-hover:hover:fill-oscuro" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"/>
    </svg>
  </span>
</button>

<script>
  const html = document.documentElement;
  const button = document.getElementById("toggle-dark");

  const savedTheme = localStorage.getItem("theme");
  if (savedTheme === "dark") {
    html.classList.add("dark");
  } else {
    html.classList.remove("dark");
  }

  button.addEventListener("click", () => {
    const isDark = html.classList.toggle("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  });
</script>
